* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font: 'Roboto', sans-serif;
  background: black;
  --bg-input: #06181C;
  --tx-input: #7C7C8A;
  --bg-button: #065E7C;
  --white: #ffffff;
  --bg1-table: #092D38;
  --bg2-table:#06161b80;
  --tx-table: #E1E1E6;
  --remove-color: #F75A68;
}

body, input, button, .search-user {
  font-family: var(--font);
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 11.5rem 16rem 8.7rem;
}

.sr-only { /* classe criada para esconder elementos, nesse caso a label do input, pois não pode ser feito com "display none" porque os leitores de tela não lerias, assim 'escondemos' a label mas ela continua lá*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden; /* força o conteúdo a ficar do tamanho da caixa */
  clip: rect(0, 0, 0, 0); /* cria um retangulo com 0 de tamanho*/
  white-space: nowrap; /* não deixa acontecer a quebra do texto */
  border-width: 0;
}

.search {
  display: flex;
  gap: .8rem;
}

input {
  width: 46.2rem;
  height: 4.8rem;
  background: var(--bg-input);
  color: var(--tx-input);
  border: none;
  border-radius: .5rem;
  padding: 1.6rem 0 1.6rem 1.6rem;
}

input::placeholder {
  font-size: 1.6rem;
}

.btnFavorite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  width: 17rem;
  height: 4.8rem;
  background: var(--bg-button);
  color: var(--white);
  border-radius: .5rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btnFavorite:hover {
  filter: brightness(1.2);
  transition: .7s;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

table {
  width: 100vw;
  margin: 0 16rem;
  border-radius: 12px;
  border: 1.5px solid #4A808C;
  border-spacing: 0;
  overflow: hidden;
}

th, .user a p, .repositories, .followers {
  font-size: 1.8rem;
  line-height: 160%; 
  color: var(--tx-table);
  font-weight: 700;
}

th {  
  text-align: start;
  background: var(--bg1-table);
  padding: 1.5rem 2.5rem;  
}

table tr:nth-child(odd) {
  background-color: var(--bg2-table);  
}

table tr:nth-child(even) {
  background-color: var(--bg1-table);  
}

td {
  padding: 1.5rem 2.5rem;  
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.user a {
  text-decoration: none;
}

.user a span {
  font-size: 2rem;
  color: var(--tx-table);  
}

.remove {
  background: none;
  border: none;
  color: var(--remove-color);
  font-size: 1.8rem;
  line-height: 160%;
  font-weight: 700;
}

.remove:hover {
  scale: 1.1;
  transition: .7s;
}

.tr-no-user {
  height: 40rem;
}

.no-user {    
  display: flex;
  gap: 6rem;
  font-family: 'Roboto Mono', monospace;
  color: #4E5455;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
}
/* 
.hidden {
  display: none;
} */